{% extends 'Team/layout.html' %}
{% block content %}

    <img src="{{ url_for('static',filename='images/result.png') }}" class="img-fluid" alt="Responsive image">




    <div class="container-fluid" style="background-color:rgb(255, 255, 255);">
        <form id="candidateInfo">

            <div class="row">

                <!------------------ left side 1 ------------------------->

                <div class="col-lg-2 col-sm-2 image_area">

                    <img id="applicantImage" class="card-img-top" src="data:;base64,{{ image }}" alt="Card image"
                         style="max-width: 90%; min-height: 80%;">


                </div>

                <div class="col-lg-4 col-sm-4 lside4" id="lcolside4" style="background-color:rgb(255, 255, 255)">
                    <p><b>NAME</b>: {{ data.name }}</p>
                    <p><b>YEAR</b>: {{ data.year }}</p>
                    <p><b>DEPARTMENT</b>: {{ data.discipline }}</p>
                    <p><b>APPLIED FOR</b> {{ data.domain }}</p>
                    <p><b>CONTACT NO</b># {{ data.phone_number }}</p>
                    <p><b>EMAIL</b>: {{ data.email }}</p>
                    <p><b>CODE</b>: pes/20/{{ data.id }}</p>
                </div>
                <!----------- right side 1 ----------------------------->
                <div class="col-lg-6 col-sm-6" style="background-color:white">
                    <div class="form-group" id="rtopside1">

                        <label for="input">

                            Enter score for Experience(0-4)
                            <span id="rside1" style="color:#3AA145;">  <select disabled name="experience" required
                                                                               class="ml-3 editable scores"
                                                                               style=" width: initial;">
			                    <option value="0">0</option>
			                    <option value="1">1</option>
			                    <option value="2">2</option>
			                    <option value="3">3</option>
			                    <option value="4">4</option>
                				</select>

                        </span>

                        </label>
                    </div>

                    <div class="form-group" id="rtopside1">

                        <label for="input">

                            Enter score for Interview(0-4)
                            <span id="rside1" style="color:#3AA145;">  <select disabled name="interview" required
                                                                               class="ml-3 editable scores"
                                                                               style=" width: initial;">
			                   <option value="0">0</option>
			                    <option value="1">1</option>
			                    <option value="2">2</option>
			                    <option value="3">3</option>
			                    <option value="4">4</option>
                		</select>

            			</span>

                        </label>
                    </div>

                    <div class="form-group" id="rtopside1">

                        <label for="input">

                            Enter score for Potential(0-4)
                            <span id="rside1" style="color:#3AA145;">  <select disabled name="potential" required
                                                                               class="ml-3 editable scores"
                                                                               style=" width: initial;">
			                    <option value="0">0</option>
			                    <option value="1">1</option>
			                    <option value="2">2</option>
			                    <option value="3">3</option>
			                    <option value="4">4</option>
                		</select>

                        </span>

                        </label>
                    </div>

                    <div class="form-group" id="rtopside1">

                        <label for="input">

                            Select candidate selection status
                            <span id="rside1" style="color:#3AA145;">  <select disabled id="selectionStatus" name="selectionStatus" required
                                                                               class="ml-3 editable"
                                                                               style=" width: initial;">
			                   <option value="1">Select</option>
			                    <option value="2">Not Select</option>
			                    <option value="3">Not yet reviewed</option>
                		</select>

            			</span>

                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <!------------------ left side 2------------------------->
                <div class="col-lg-6 col-sm-6">

                    <div id="row1in">
                        <p>TELL US ABOUT YOURSELF</p>
                    </div>
                    <div class="answer_here">{{ data.about }}</div>

                    <div id="row2in">
                        <p>ARE YOU ASSOCIATED WITH ANY VOLUNTEERING ROLES EVEN OUTSIDE IEEE PES NED</p>
                    </div>
                    <div class="answer_here">{{ data.association }}</div>

                    <div id="row3in">
                        <p>WHY DO YOU WANT TO JOIN IEEE PES NED</p>
                    </div>
                    <div class="answer_here">{{ data.why }}</div>

                    <div id="row4in">
                        <p>SHARE YOUR ACHIEVEMENTS WITHIN IEEE (IF ANY, MENTION NIL IF NOTHING)</p>
                    </div>
                    <div class="answer_here">{{ data.achievements }}</div>


                </div>
                <!------------------ right side 2 ------------------------->
                <div class="col-lg-6 col-sm-6" style="background-color:white">

                    <div class="remarks_area" id="textarea">
                        <label for="input">
                            <p style="color: #34A132;">PLEASE ENTER YOUR REMARKS FOR THIS CANDIDATE</p>
                        </label>

                    </div>
                    <textarea name="remarks" disabled id="textkaarea" class="form-control editable"
                              id="exampleFormControlTextarea1" rows="10"
                              required>{{ data.interview.remarks }}</textarea>

                    <div class="form-check mt-2">
                        <input disabled class="form-check-input editable" name="showFeedback" type="checkbox" value="1" id="showFeedback" {{ 'checked' if data.interview.show_feedback else '' }}>
                        <label class="form-check-label" for="showFeedback">
                        Show Feedback
                        </label>
                    </div>
                    <div style="background-color:rgb(255, 255, 255);">
                        <p align="left">
                            <button id="edit" type="button" class="btn btn-primary interviewBtn">Edit</button>
                            <button type="submit" class="btn btn-success editable interviewBtn" disabled>Save
                                Changes
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        const scores = document.getElementsByClassName('scores');
        scores[0].value = '{{ data.interview.scores[0] }}';
        scores[1].value = '{{ data.interview.scores[1] }}';
        scores[2].value = '{{ data.interview.scores[2] }}';
        document.getElementById('selectionStatus').value = '{{ data.selection_status }}'
        const id = '{{ data.id }}';
    </script>

    <script src="{{ url_for('static',filename='js/interviewDetails.js') }}"></script>

{% endblock %}
